body{
    background-color: aqua;
}

.container{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

label{
    font-weight: bold;
}
.form-group{
    padding: 10px;
}

#categoriaConta {
    width: 150px;
}

table{
    border-spacing: 20px;
}